<%= form_for (@bill) do |f| %>
  <div class="field">
     Amount : <%= f.text_field :amount, :placeholder => "Rs. "%>
     Name :<%= f.text_field :for, :placeholder => "Name" %>
  </div>

  <%= f.submit "Post"%>
<% end %>
