<h1>About me </h1><br/>
<p>Hey, I'm Raghav Kanwal and I'm a student currently in my 5th semester of Bachelors in Computer Applications from Vivekananda Institute of Professional Studies, from GGSIP University. I've made this application to start getting some hands-on experience with Ruby on Rails, which is an open web framework primarily used for making full-fledged web applications.</p><br/>

<p>Here's a list of commonly asked questions for your reference : </p><br/>
	
<h3>How many students contributed to this project? </h3>
<p>This project was made solely by myself, Raghav Kanwal.</p><br/>

<h3>What is Ruby and Ruby on Rails?</h3><br/>
<p>Ruby is a dynamic, reflective, object-oriented, general-purpose programming language. It was designed and developed in the mid-1990s by Yukihiro "Matz" Matsumoto in Japan.

According to its authors, Ruby was influenced by Perl, Smalltalk, Eiffel, Ada, and Lisp. It supports multiple programming paradigms, including functional, object-oriented, and imperative. It also has a dynamic type system and automatic memory management.</p><br/>
<p>Ruby on Rails, often simply Rails, is an open source web application framework which runs via the Ruby programming language. It is a full-stack framework: it allows creating pages and applications that gather information from the web server, talk to or query the database, and render templates out of the box. As a result, Rails features a routing system that is independent of the web server.</p><br/>

<h3>Why have you chosen Ruby on Rails over other languages such as PHP?</h3><br/>
<p>Ruby on Rails is a comparitively new web framework. It is made with Ruby, which is a programming language that has several features such as duck typing, syntactic sugar, flexible syntax, code interpolation, and everything already present in Object Oriented Programming languages like C++.</p>